<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Marvel Project</title>
   <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
 <body>
   

<div class="parallax slide" id="parallax">
    <div class="row">
        <h1 class="heading">MARVEL API PROJECT</h1>
    </div>
</div>

<div class="slidein slide" id="slidein">
    <div class="row">
        <h1>Slide and pin</h1>
      <img src="https://cdn.glitch.com/3d9c6c2d-c00b-44d3-84e7-4246cfa4fc6f%2FHeadshot.jpg?1552003740415" alt="picture of me" class="mepic"> 
      <p>
        hi
      </p>
    </div>
</div>

<div class="slidein2 slide" id="slidein2">
   <div class="row">
     
     <canvas id="myChart"></canvas>
    </div>
</div>
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
    </script>
    <!-- Include ScrollMagic and GSAP plugin -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
     <script src="/client.js" defer></script>
  </body>
</html>
