body {
    margin: 0;
    font-family: sans-serif;
}

 .heading {
  font-size: 50px;
}

 .mepic {
  width: 200px;
   height: auto;
   float:left;
   display:block;
}
 
.slide .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}
 
.intro {
    background: #305a5b;
}
 
.parallax {
    background: url(https://cdn.glitch.com/3d9c6c2d-c00b-44d3-84e7-4246cfa4fc6f%2Fmbackground.jpg?1551896136415) 50% 0;
}
 
.slidein {
    background: #5b3030;
}
 
.slidein2 {
    background: #add8e6;
}
 
.slidein2 .row {
    justify-content: space-around;
}


